In [4]:
import numpy as np
import pandas as pd
import matplotlib
import matplotlib.pyplot as plt
import seaborn as sns

In [19]:
#listagem = pd.read_excel('../Listagem/listagem_13.xlsx', None)
#listagem = pd.read_csv('../Listagem/listagem_13.csv')

listagem = pd.DataFrame(pd.read_excel('../Listagem/listagem_13.xlsx'))

In [20]:
display(listagem)

,Projeto,Unnamed: 1,Ano,Unnamed: 3,Tipo,Unnamed: 5,Autor,Unnamed: 7,Ementa,Unnamed: 9,Situação
0,40520.0,,2013.0,NaN,Requerimento,NaN,Oliveira Tresse,NaN,"Solicita urbanização na rua Antônio Celeste, n...",NaN,Arquivada
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,4028.0,,2013.0,NaN,Requerimento,NaN,Júlio Gasparette,NaN,Solicita limpeza nas bocas de lobo no bairro C...,NaN,Arquivada
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,36840.0,,2013.0,NaN,Requerimento,NaN,Luiz Otávio Fernandes Coelho - Pardal,NaN,solicita recapemamento asfáltico na rua Orland...,NaN,Em Tramitação
...,...,...,...,...,...,...,...,...,...,...,...
2584,4590.0,,2013.0,NaN,Requerimento,NaN,João do Joaninho,NaN,Solicita patrolamento das estradas de Rosário ...,NaN,Arquivada
2585,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2586,4589.0,,2013.0,NaN,Requerimento,NaN,Jucelio,NaN,"Solicita junto ao DEMLURB, limpeza e manutençã...",NaN,Arquivada
2587,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2588,4588.0,,2013.0,NaN,Requerimento,NaN,"Isauro Calais, Ana Rossignoli, André Mariano, ...",NaN,"Solicita asfaltamento nas ruas dos bairros, gr...",NaN,NaN